.content {
  flex: 1;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.content h1 {
  font-size: 2.5rem;
  font-family: 'Pacifico', sans-serif;
  color: var(--orange);
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 2rem;
}

.auth-section button {
  background-color: var(--orange);
  color: white;
  border: none;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

#explore-btn {
  background-color: white;
  color: var(--orange);
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid var(--orange);
  border-radius: 8px;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: all 0.3s ease;
}

#explore-btn:hover {
  background-color: #FFD2A1E0;
  color: white;
}

#explore-btn:active {
  background-color: var(--orange);
  color: white;
}
